version: '3'
services:
  database:
    container_name: mongo
    image: mongo
    env_file: .env
    environment:
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DATABASE: ${MONGO_DATABASE}
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"

